
pcb_kicad/esp_serial_bridge_pcb/esp_serial_bridge_pcb-backups/

pcb_kicad/esp32s3_serial_bridge_pcb/esp32s3_serial_bridge_pcb-backups/

pcb_kicad/esp_serial_bridge_pcb/gerber/esp_serial_bridge_pcb.zip

pcb_kicad/esp32s3_serial_bridge_pcb/gerber/esp32s3_serial_bridge_pcb.zip
